<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="savedFileFolder" value="C:\Users\sblac\Dropbox\Program Data\RR-CirKits\Backups\2023-03-16" />
		<add key="savedFileExtension" value="*.txt" />
	</appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>